.container {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.heading {
    text-align: center;
    color: #f29e0f;;
}
form {
   
    padding: 50px;
    border: 1px solid #f1f1f1;
    max-width: 100%;
}

input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4a8eff;;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


span.psw {
  float: right;
  padding-top: 16px;
}